# Downloading coinmetrics Pricedata
This script can't download the pricedata from the coinmetric [website](https://coinmetrics.io/community-network-data/#comm-files) as this is prevented from coinmetric which wants you to do that manually via your browser. So with the above script you can only check whether the file is there and load it.

In [16]:
import requests
if not os.path.isfile('./data/gold_raw.csv'):
    url = 'https://datahub.io/core/gold-prices/r/monthly.csv'
    r = requests.get(url)
    with open('./data/gold_raw.csv', 'wb') as outfile:
        outfile.write(r.content)

Yes, this are in fact monthly prices but we have to tidy it up to get an index which we can use with the other data (mainly flow).

In [26]:
import pandas as pd
monthly_raw = pd.read_csv("./data/gold_raw.csv",\
                  index_col="Date",parse_dates=["Date"])
monthly_raw

               Price
Date
2009-01-01   857.726
2009-02-01   939.763
2009-03-01   925.989
2009-04-01   892.663
2009-05-01   926.855
...              ...
2019-11-01  1471.921
2019-12-01  1480.025
2020-01-01  1560.668
2020-02-01  1598.818
2020-03-01  1593.764

[135 rows x 1 columns]

In [30]:
monthly_prices = pd.DataFrame()
monthly_prices['gold_price'] = monthly_raw[monthly_raw.index > "2008-12"].Price.resample('M').mean()
monthly_prices

            gold_price
Date
2009-01-31     857.726
2009-02-28     939.763
2009-03-31     925.989
2009-04-30     892.663
2009-05-31     926.855
...                ...
2019-11-30    1471.921
2019-12-31    1480.025
2020-01-31    1560.668
2020-02-29    1598.818
2020-03-31    1593.764

[135 rows x 1 columns]

In [31]:
btc.to_csv ('data/gold_monthly.csv', index = True, header=True)